
<header>
    
        <nav class="navbar">
            <h1>Início do blog PARTE 2</h1>
            <a href="/">BLOG com node.js</a>
            <ul >
                <a  href="/admin/categories">Categorias</a>
                <a  href="/admin/articles">Artigos</a>
                <a  href="/logout">logout</a>
            </ul>
        </nav>  
   
 </header>